.component-contact-form {
	.alert {
		border-radius: 0;
		color: $sca-brand-light;
		border: none;

		&-success {
			background-color: $sca-brand-primary;
		}

		&-danger {
			background-color: $sca-brand-danger;
		}

		.close {
			opacity: 1;
			color: $sca-brand-light;
			font-weight: 300;
			outline: 0;
			text-shadow: none;

			&:hover {
				color: $sca-brand-dark;
			}
		}
	}

	.form-group {
		margin-bottom: $sca-padding-xlarge-vertical * 3;

		.form-control {
			border: {
				radius: 0;
				top-width: 0;
				left-width: 0;
				right-width: 0;
				color: $sca-brand-primary;
			}
			padding-left: 0;
			box-shadow: none;
			font-weight: 400;

			&.select {
				border-width: 1px;
				font-size: 14px;
				height: 36px;
				padding: $padding-small-vertical $padding-small-horizontal;
			}

			&.textarea {
				border-width: 1px;
				height: 8em;
				padding: $padding-small-vertical $padding-small-horizontal;
			}
		}

		.control-label {
			font-weight: 300;
			margin-bottom: 3px;

			@include context('.form-group', '.form-group.has-error') {
				color: $sca-brand-dark;
			}
		}

		.help-block {
			color: $sca-brand-danger;
		}

		&.hdn {
			height: 0;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
	}
}
