.component-faq-container {
	.category {
		h3 {
			margin-top: 0;
		}
	}

	.question-list {
		.question {
			color: $sca-brand-primary;
			display: block;

			&:hover {
				color: $sca-brand-primary;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	.questions {
		border-top: 1px solid $sca-brand-primary;
		padding-top: $sca-padding-xxlarge-vertical;
		margin-top: $sca-padding-xxlarge-vertical;

		.question {
			color: $sca-brand-primary;
			line-height: $line-height-base;
			font-size: $font-size-base * 1.15;
			font-weight: 500;
			overflow: hidden;

			.text {
				width: calc(100% - 20px);
				float: left;
			}

			.glyphicon {
				float: right;
			}

			.icon {
				height: $line-height-base * $font-size-base * 1.15;
				line-height: $line-height-base;
				width: 20px;
				float: left;
				text-align: right;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
