.component-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: $sca-nav-menu-height;

	@media (max-width: $screen-sm) { margin-top: 0; }

	&.has-title {
		height: 80px;
	}

	&.has-background {
		height: 350px;
		color: $sca-brand-light;

		@media (max-width: $screen-sm) { height: 150px; }
	}

	.title {
		position: absolute;
		z-index: 10;
		left: 50%;
		top: 50%;
		text-align: center;
		transform: translate(-50%, -50%);

		h1 {
			font-weight: 700;
		}
	}

	.background {
		height: 350px;
		position: relative;

		@media (max-width: $screen-sm) { height: 150px; }

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			min-width: 100%;
			min-height: 100%;
		}
	}
}
