.mailchimp-signup {
	vertical-align: middle;
	font-size: 16px;
	height: 35px;
	line-height: 24px;

	&.input {
		width: 80%;
		font-weight: 300;
		color: $sca-gray-light;
		border-radius: 0;
		border: 1px solid $sca-brand-primary;
		outline: none;
		padding: 5px;
		margin-right: 5px;
	}

	&.button {
		width: 15%;
		color: #ffffff;
		background-size: 100%;
		font-weight: 600;
		background: {
			color: $sca-brand-primary;
			position: center center;
			repeat: no-repeat;
		}
		margin: 0;
		max-width: 50px;
		border: 0;
		padding: 0;
		cursor: pointer;
		transition: background-color 0.15s ease-in-out;
		&:hover {
			background-color: darken($sca-brand-primary, 5);
		}
	}
}

.mailchimp-signup-stacked-input {
	vertical-align: middle;
	font-size: 16px;
	height: 35px;
	line-height: 24px;
	width: 100%;
	font-weight: 300;
	color: $sca-gray-light;
	border-radius: 0;
	border: 1px solid $sca-brand-primary;
	outline: none;
	padding: 5px;
	margin-right: 5px;
}

.mailchimp-signup-stacked-button {
	width: 100%;
	margin: 0;
	margin-top: 10px;
	cursor: pointer;
}

