.component-menu {
	.menu {
		padding-left: 0;

		.item {
			list-style: none;

			&.active {
				a {
					color: $sca-brand-dark;
					font-weight: 500;

					&:hover {
						color: $sca-brand-primary;
					}
				}
			}
		}
	}
}
