.component-more-details {
	overflow: hidden;

	.toggle {
		font-size: 16px;
		color: $sca-brand-primary;
		margin-bottom: $padding-large-vertical;

		.glyphicon {
			padding: 4px;
			margin-right: 10px;
			color: $sca-brand-light;
			background-color: $sca-brand-primary;
		}

		&:hover {
			cursor: hand;
		}
	}

	.content {
		text-align: left;
		font-size: $font-size-h6;
	}
}