.component-row {
	padding: $sca-padding-xxlarge-vertical 0;
	position: relative;

	.background-image {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
	}

	&.component-row-with-bg {
		.component-row {
			&.row-dark, &.row-light, &.row-green {
				background: none;
			}
		}
	}

	&.row-no-padding {
		padding: 0 !important;
	}

	@media (max-width: $screen-sm) { padding: $sca-padding-xxlarge-vertical * 0.60 0; }

	&.row-light {
		background-color: $sca-brand-light;
		color: $sca-brand-dark;

		& + .component-row.row-light {
			padding-top: 0;
		}

	}
	&.row-dark {
		background-color: $sca-brand-dark;
		color: $sca-brand-light;

		& + .component-row.row-dark {
			padding-top: 0;
		}
	}
	&.row-green {
		background-color: $sca-brand-primary;
		color: $sca-brand-light;

		& + .component-row.row-green {
			padding-top: 0;
		}
	}

	.container-fluid {
		padding: 0;
	}

	h2 {
		font-weight: 700;
	}

	img {
		max-width: 100%;
	}

	.component-row {
		// reset all styles on nested rows
		padding: 0;

		.container {
			max-width: 100%;
			padding: 0;
			margin: 0;

			.container {
				padding: {
					left: floor(($grid-gutter-width / 2));
					right: ceil(($grid-gutter-width / 2));
				}
			;
			}
		}
	}
}
