.component-tabs-container {
	.nav-tabs {
		display: table;
		width: 100%;
		border: none;
		margin-bottom: $sca-padding-xlarge-vertical;

		li {
			display: table-cell;
			text-align: center;
			float: none;
			text-transform: uppercase;
			font-weight: 500;

			a {
				margin: 0 $padding-large-horizontal;
				border: none;
				border-radius: 0;
				background-color: transparent;

				&:active,
				&:focus,
				&:hover {
					background-color: transparent;
					border: none;
					outline: none;
				}
			}

			&.active {
				a {
					border-bottom: 3px solid $sca-brand-primary;
					color: $sca-brand-primary;
				}
			}
		}
	}

	.nav-pills {
		display: table;
		table-layout: fixed;
		width: 75%;
		margin: 0 auto $sca-padding-xlarge-vertical;

		li {
			display: table-cell;
			text-align: center;
			float: none;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 14px;

			& + li {
				a { border-left: none; }
			}

			&:first-child {
				a { border-radius: $nav-pills-border-radius 0 0 $nav-pills-border-radius; }
			}

			&:last-child {
				a { border-radius: 0 $nav-pills-border-radius $nav-pills-border-radius 0; }
			}

			a {
				line-height: 1.3em;
				border: 1px solid lighten($sca-gray-light, 25);
				border-radius: 0;
				padding: $padding-small-vertical $padding-large-horizontal;

				&:active,
				&:focus,
				&:hover {
					background-color: darken($sca-brand-primary, 5);
					color: $sca-brand-light;
					border: 1px solid darken($sca-brand-primary, 5);
					outline: none;
				}
			}

			&.active {
				a {
					background-color: $sca-brand-primary;
					border: 1px solid $sca-brand-primary;
				}
			}
		}
	}
}

.row-light,
.row-dark {
	.component-tabs-container {
		.nav-pills {
			li {
				a {
					border-color: $sca-brand-primary;
					color: $sca-brand-primary;

					&:active,
					&:focus,
					&:hover {
						background-color: darken($sca-brand-primary, 5);
						color: $sca-brand-light;
						border: 1px solid darken($sca-brand-primary, 5);
					}
				}

				&.active {
					a {
						background-color: $sca-brand-primary;
						color: $sca-brand-light;
						border: 1px solid $sca-brand-primary;
					}
				}
			}
		}
	}
}

.row-green {
	.component-tabs-container {
		.nav-tabs {
			li {
				a {
					color: $sca-brand-light;
				}

				&.active {
					a {
						border-bottom: 3px solid $sca-brand-light;
						color: $sca-brand-light;
					}
				}
			}
		}

		.nav-pills {
			li {
				a {
					border-color: $sca-brand-light;
					color: $sca-brand-light;

					&:active,
					&:focus,
					&:hover {
						background-color: darken($sca-brand-light, 5);
						color: $sca-brand-primary;
						border: 1px solid darken($sca-brand-light, 5);
					}
				}

				&.active {
					a {
						background-color: $sca-brand-light;
						color: $sca-brand-primary;
						border: 1px solid $sca-brand-light;
					}
				}
			}
		}
	}
}
