.component-row {
	.component-team-members-view {
		font-size: 14px;

		.member {
			padding: 0 $padding-large-horizontal;
			margin-bottom: $sca-padding-xlarge-vertical;
			overflow: hidden;

			.inner {
				padding: $padding-large-vertical $padding-large-horizontal;

				@include context('.component-row', '.component-row-with-bg') {
					background-color: $sca-black;
					background-color: rgba($sca-black, 0.6);
				}

				.profile-pic {
					img {
						width: 50%;
						margin-bottom: $sca-padding-xlarge-vertical;
					}
				}

				.full-name {
					font-size: 20px;
				}

				.roles {
					text-transform: uppercase;
				}

				.previous-jobs {
					height: $line-height-base * 2em;
					margin-bottom: $padding-large-vertical;
				}

				.biography {
					margin-top: $padding-small-vertical;
				}
			}
		}
	}
}
