.video-modal {
	.modal-header {
		.close {
			font-weight: 100;
			font-size: 32px;

			span {
				line-height: 36px;
				width: 36px;
				display: block;
				border: 1px solid #000;
				border-radius: 50%;
			}
		}
	}

	.modal-body {
		text-align: center;

		.video-content {
			iframe {
				border-width: 0;
			}
		}
	}
}

.btn-video-container {
	position: relative;

	.btn {
		&.btn-video {
			position: absolute;
			left: 50%;
			top: 50%;
			border-radius: 1.375em;
			border: none;
			height: 2.75em;
			line-height: 2.75em;
			font-weight: 200;
			padding-top: 0;
			padding-bottom: 0;
			transform: translate(-50%, -50%);

			.glyphicon {
				border: 1px solid white;
				border-radius: 50%;
				left: -0.4375em;
				padding: 0.25em;
			}
		}
	}
}

.device-mobile {
	.btn-video-container-without-image {
		height: 9em;
	}

	.video-content {
		iframe {
			width: 100%;
			height: auto;
		}

	}
	.btn {
		&.btn-video {
			position: absolute;
			left: 50%;
			top: 1em;
			width: 6em;
			height: 6em;
			border-radius: 50%;
			line-height: 6em;
			transform: translate(-50%, 0);
			opacity: 0.5;
			padding: 0.4375em 1.5em;

			.glyphicon {
				left: -17px;
				top: -1px;
				font-size: 3.25em;
				border-width: 2px;
			}
		}
	}


}

