@font-face {
	font-family: "scalable-capital-icons-small";
	src: url($sca-font-path + "sca-cap-icons/scalable-capital-icons.eot");
	src: url($sca-font-path + "sca-cap-icons/scalable-capital-icons.eot?#iefix") format("embedded-opentype"),
	url($sca-font-path + "sca-cap-icons/scalable-capital-icons.woff") format("woff"),
	url($sca-font-path + "sca-cap-icons/scalable-capital-icons.ttf") format("truetype"),
	url($sca-font-path + "sca-cap-icons/scalable-capital-icons.svg#sca-icons-small") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon {
	&:before {
		font-family: "scalable-capital-icons-small";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		speak: none;
		line-height: 1.1em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.sca-icon-add-circle-small:before {
		content: "\61";
	}
	&.sca-icon-add-small:before {
		content: "\62";
	}
	&.sca-icon-alarm-small:before {
		content: "\63";
	}
	&.sca-icon-arrow-down-small:before {
		content: "\64";
	}
	&.sca-icon-arrow-left-small:before {
		content: "\65";
	}
	&.sca-icon-arrow-right-small:before {
		content: "\66";
	}
	&.sca-icon-arrow-up-small:before {
		content: "\67";
	}
	&.sca-icon-big-share-external:before {
		content: "\68";
	}
	&.sca-icon-calendar-2-small:before {
		content: "\69";
	}
	&.sca-icon-calendar-small:before {
		content: "\6a";
	}
	&.sca-icon-camera-small:before {
		content: "\6b";
	}
	&.sca-icon-checkmark-circle-small:before {
		content: "\6c";
	}
	&.sca-icon-checkmark-small:before {
		content: "\6d";
	}
	&.sca-icon-dollar-small:before {
		content: "\6e";
	}
	&.sca-icon-download-circle-small:before {
		content: "\6f";
	}
	&.sca-icon-edit-small:before {
		content: "\70";
	}
	&.sca-icon-envelope-close-small:before {
		content: "\71";
	}
	&.sca-icon-envelope-open-letter-small:before {
		content: "\72";
	}
	&.sca-icon-envelope-open-small:before {
		content: "\73";
	}
	&.sca-icon-error-circle-small:before {
		content: "\74";
	}
	&.sca-icon-error-small:before {
		content: "\75";
	}
	&.sca-icon-euro-small:before {
		content: "\76";
	}
	&.sca-icon-export-small:before {
		content: "\77";
	}
	&.sca-icon-eye-small:before {
		content: "\78";
	}
	&.sca-icon-facebook-small:before {
		content: "\79";
	}
	&.sca-icon-file-csv-small:before {
		content: "\7a";
	}
	&.sca-icon-file-pdf-small:before {
		content: "\41";
	}
	&.sca-icon-googleplus-small:before {
		content: "\42";
	}
	&.sca-icon-graph-euro-small:before {
		content: "\43";
	}
	&.sca-icon-graph-percent-small:before {
		content: "\44";
	}
	&.sca-icon-graph-small:before {
		content: "\45";
	}
	&.sca-icon-help-circle-small:before {
		content: "\46";
	}
	&.sca-icon-identification-small:before {
		content: "\47";
	}
	&.sca-icon-incoming-2-small:before {
		content: "\48";
	}
	&.sca-icon-incoming-outgoing-small:before {
		content: "\49";
	}
	&.sca-icon-incoming-payment-2-small:before {
		content: "\4a";
	}
	&.sca-icon-incoming-payment-small:before {
		content: "\4b";
	}
	&.sca-icon-incoming-small:before {
		content: "\4c";
	}
	&.sca-icon-increase-small:before {
		content: "\4d";
	}
	&.sca-icon-info-circle-small:before {
		content: "\4e";
	}
	&.sca-icon-legal-circle-small:before {
		content: "\4f";
	}
	&.sca-icon-like-small:before {
		content: "\50";
	}
	&.sca-icon-linkedin-small:before {
		content: "\51";
	}
	&.sca-icon-lock-close-small:before {
		content: "\52";
	}
	&.sca-icon-lock-open-small:before {
		content: "\53";
	}
	&.sca-icon-logout-small:before {
		content: "\54";
	}
	&.sca-icon-magnifyingglass-small:before {
		content: "\55";
	}
	&.sca-icon-menu-small:before {
		content: "\56";
	}
	&.sca-icon-mobilephone-small:before {
		content: "\57";
	}
	&.sca-icon-outgoing-2-small:before {
		content: "\58";
	}
	&.sca-icon-outgoing-payment-2-small:before {
		content: "\59";
	}
	&.sca-icon-outgoing-payment-small:before {
		content: "\5a";
	}
	&.sca-icon-outgoing-small:before {
		content: "\30";
	}
	&.sca-icon-pending-circle-2-small:before {
		content: "\31";
	}
	&.sca-icon-pending-circle-small:before {
		content: "\32";
	}
	&.sca-icon-pending-small:before {
		content: "\33";
	}
	&.sca-icon-person-small:before {
		content: "\34";
	}
	&.sca-icon-printer-small:before {
		content: "\35";
	}
	&.sca-icon-recurringpayment-small:before {
		content: "\36";
	}
	&.sca-icon-reload-circle-small:before {
		content: "\37";
	}
	&.sca-icon-remove-circle-small:before {
		content: "\38";
	}
	&.sca-icon-settings-2-small:before {
		content: "\39";
	}
	&.sca-icon-settings-small:before {
		content: "\21";
	}
	&.sca-icon-sharing-small:before {
		content: "\22";
	}
	&.sca-icon-transactions-small:before {
		content: "\23";
	}
	&.sca-icon-twitter-small:before {
		content: "\24";
	}
	&.sca-icon-warning-circle-small:before {
		content: "\25";
	}
	&.sca-icon-youtube-small:before {
		content: "\26";
	}
	&.sca-icon-add-large:before {
		content: "\27";
	}
	&.sca-icon-add-circle-large:before {
		content: "\28";
	}
	&.sca-icon-big-alarm-large:before {
		content: "\29";
	}
	&.sca-icon-arrow-down-large:before {
		content: "\2a";
	}
	&.sca-icon-arrow-left-large:before {
		content: "\2b";
	}
	&.sca-icon-arrow-right-large:before {
		content: "\2c";
	}
	&.sca-icon-arrow-up-large:before {
		content: "\2d";
	}
	&.sca-icon-calendar-large:before {
		content: "\2e";
	}
	&.sca-icon-calendar-2-large:before {
		content: "\2f";
	}
	&.sca-icon-camera-large:before {
		content: "\3a";
	}
	&.sca-icon-checkmark-large:before {
		content: "\3b";
	}
	&.sca-icon-checkmark-circle-large:before {
		content: "\3c";
	}
	&.sca-icon-dollar-large:before {
		content: "\3d";
	}
	&.sca-icon-download-circle-large:before {
		content: "\3e";
	}
	&.sca-icon-download-shelf-large:before {
		content: "\3f";
	}
	&.sca-icon-edit-large:before {
		content: "\40";
	}
	&.sca-icon-envelope-close-large:before {
		content: "\5b";
	}
	&.sca-icon-envelope-open-large:before {
		content: "\5d";
	}
	&.sca-icon-envelope-open-letter-large:before {
		content: "\5e";
	}
	&.sca-icon-error-large:before {
		content: "\5f";
	}
	&.sca-icon-error-circle-large:before {
		content: "\60";
	}
	&.sca-icon-euro-large:before {
		content: "\7b";
	}
	&.sca-icon-export-large:before {
		content: "\7c";
	}
	&.sca-icon-eye-large:before {
		content: "\7d";
	}
	&.sca-icon-file-csv-large:before {
		content: "\7e";
	}
	&.sca-icon-file-pdf-large:before {
		content: "\5c";
	}
	&.sca-icon-googleplus-large:before {
		content: "\e000";
	}
	&.sca-icon-help-circle-large:before {
		content: "\e001";
	}
	&.sca-icon-identification-large:before {
		content: "\e002";
	}
	&.sca-icon-incoming-2-large:before {
		content: "\e003";
	}
	&.sca-icon-incoming-outgoing-large:before {
		content: "\e004";
	}
	&.sca-icon-incoming-payment-large:before {
		content: "\e005";
	}
	&.sca-icon-incoming-payment-2-big:before {
		content: "\e006";
	}
	&.sca-icon-increase-large:before {
		content: "\e007";
	}
	&.sca-icon-info-circle-large:before {
		content: "\e008";
	}
	&.sca-icon-legal-circle-large:before {
		content: "\e009";
	}
	&.sca-icon-like-large:before {
		content: "\e00a";
	}
	&.sca-icon-linkedin-large:before {
		content: "\e00b";
	}
	&.sca-icon-lock-close-large:before {
		content: "\e00c";
	}
	&.sca-icon-lock-open-large:before {
		content: "\e00d";
	}
	&.sca-icon-logout-large:before {
		content: "\e00e";
	}
	&.sca-icon-magnifyingglass-large:before {
		content: "\e00f";
	}
	&.sca-icon-menu-large:before {
		content: "\e010";
	}
	&.sca-icon-mobilephone-large:before {
		content: "\e011";
	}
	&.sca-icon-outgoing-large:before {
		content: "\e012";
	}
	&.sca-icon-outgoing-2-large:before {
		content: "\e013";
	}
	&.sca-icon-outgoing-payment-large:before {
		content: "\e014";
	}
	&.sca-icon-outgoing-payment-2-large:before {
		content: "\e015";
	}
	&.sca-icon-pending-large:before {
		content: "\e016";
	}
	&.sca-icon-pending-circle-large:before {
		content: "\e017";
	}
	&.sca-icon-pending-circle-2-large:before {
		content: "\e018";
	}
	&.sca-icon-person-large:before {
		content: "\e019";
	}
	&.sca-icon-printer-large:before {
		content: "\e01a";
	}
	&.sca-icon-recurringpayment-large:before {
		content: "\e01b";
	}
	&.sca-icon-reload-circle-large:before {
		content: "\e01c";
	}
	&.sca-icon-remove-circle-large:before {
		content: "\e01d";
	}
	&.sca-icon-settings-large:before {
		content: "\e01e";
	}
	&.sca-icon-settings-2-large:before {
		content: "\e01f";
	}
	&.sca-icon-share-external-1-large:before {
		content: "\e020";
	}
	&.sca-icon-sharing-large:before {
		content: "\e021";
	}
	&.sca-icon-transactions-large:before {
		content: "\e022";
	}
	&.sca-icon-twitter-large:before {
		content: "\e023";
	}
	&.sca-icon-warning-circle-large:before {
		content: "\e024";
	}
	&.sca-icon-youtube-large:before {
		content: "\e025";
	}
	&.sca-icon-facebook-large:before {
		content: "\e026";
	}
	&.sca-icon-graph-large:before {
		content: "\e027";
	}
	&.sca-icon-graph-euro-large:before {
		content: "\e028";
	}
	&.sca-icon-graph-percent-large:before {
		content: "\e029";
	}
	&.sca-icon-graph-pound-large:before {
		content: "\e02a";
	}
	&.sca-icon-graph-pound-small:before {
		content: "\e02b";
	}
	&.sca-icon-compare-no-small:before {
		content: "\e02c";
	}
	&.sca-icon-compare-yes-small:before {
		content: "\e02d";
	}
	&.sca-icon-file-document-small:before {
		content: "\e02e";
	}
	&.sca-icon-file-folder-small:before {
		content: "\e02f";
	}
	&.sca-icon-photo-small:before {
		content: "\e030";
	}
	&.sca-icon-arrow-down-large-bold:before {
		content: "\e031";
	}
	&.sca-icon-arrow-down-large-extrabold:before {
		content: "\e032";
	}
	&.sca-icon-arrow-left-large-bold:before {
		content: "\e033";
	}
	&.sca-icon-arrow-left-large-extrabold:before {
		content: "\e034";
	}
	&.sca-icon-arrow-right-large-bold:before {
		content: "\e035";
	}
	&.sca-icon-arrow-right-large-extrabold:before {
		content: "\e036";
	}
	&.sca-icon-arrow-up-large-bold:before {
		content: "\e037";
	}
	&.sca-icon-arrow-up-large-extrabold:before {
		content: "\e038";
	}
}
